<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= list.list %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <%- include("./style/homeStyle.ejs") %> <%-
    include("./homePartials/style/headerStyle.ejs") %> <%-
    include("./style/homeStyle.ejs") %>
    <%-include("./homePartials/style/mainStyle.ejs") %>
    <%-include("./homePartials/style/newTaskStyle.ejs") %>
    <%-include("./homePartials/style/editTaskStyle.ejs") %>
    <%-include("./homePartials/style/tasksStyle.ejs") %>
  </head>
  <body
    idUser="<%= user.id %>"
    myUsername="<%= user.username %>"
    idList="<%= list?.id %>"
    idAdmin="<%= list?.adm_id %>"
  >
    <%- include("./homePartials/header.ejs") %> <%-
    include("./homePartials/main.ejs") %>

    <script src="/socket.io/socket.io.js"></script>
    <%-include("./script/homeScript.ejs") %>
    <%-include("./homePartials/script/newTaskScript.ejs") %>
    <%-include("./homePartials/script/editTaskScript.ejs") %>
    <%-include("./homePartials/script/tasksScript.ejs") %>
    <%-include("./homePartials/script/headerScript.ejs") %>
    <%-include("./homePartials/script/mainScript.ejs") %>
  </body>
</html>
