<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <%- include("./style/registerStyle.ejs") %>
  </head>
  <body>
    <form action="/register" method="post">
      <h2>Bem-vindo!</h2>

      <input class="<%= username && "userExists" %>" value="<%= username || ""
      %>" autocomplete="off" type="text" name="username" id="username"
      placeholder="Nome do Usuário" /> <input value="<%= name || "" %>"
      autocomplete="off" type="text" name="name" id="name" placeholder="Name" />
      <input value="<%= password || "" %>" autocomplete="off" type="password"
      name="password" id="password" placeholder="Senha" /> <input value="<%=
      password || "" %>" autocomplete="off" type="password" name="passwordC"
      id="passwordC" placeholder="Confirmar Senha" />

      <button type="submit">Criar</button>
      <a href="/login">Já tenho uma conta</a>
    </form>

    <%-include("./script/registerScript.ejs")%>
  </body>
</html>
